<!-- DOCTYPE HTML -->

<html>

    <head>
    
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel=stylesheet type="text/css" href="css/landingpage.css">
        
        <style type="text/css">
            
            @import url('https://fonts.googleapis.com/css?family=Lato');
            @import url('https://fonts.googleapis.com/css?family=Comfortaa');

        </style>

    </head>

    <body>
        
        <div class="topbar">
            
            <img src="images/glimpsename.png">
             
            <div class="toplinks">
                <a href=""><img src="images/glimpsewhitelogo.png"></a>
            </div>
            
        </div>
        
        <!-- glimpse will appear as a top fixed bar -->
        
        <div class="middle-wrapper">
            <div> 
                <p class="bigtext">
                    Planning out your next date shouldn't be so <span id="typingtext">complicated</span> 
                </p>
            </div>


            <!-- mission statement -->
            <div class="missionblock"> 
                
                <div class="missiontext">
                    <img src="images/glimpsename.png">
                    <p>Our mission is to bring you a simpler and more relatable experience when planning out your next date.</p>
                    <p>Whether you two are going on your first date or your hundreth date, we've got you covered.</p>

                    <p>Be the first to know about our launch!</p>

                    <input type="text" class="enterinfo error" name="EMAIL" id="subscribe-email" placeholder="Email Address" spellcheck="false"> 

                    <button type="submit" id="signup-button" class="signup-button">Sign Up</button>
                    
                    <label for="subscribe-email" class="subscribe-message error">
                        <i class="fa fa-warning"></i>
                        <p></p>
                        <span class="message-content"></span>
                     </label>
                </div>
                
                <div class="phone">
                    <img  src="images/mixedphones.png">
                </div>
            </div> 

            <!-- Grid include FEATURES included in the website -->
            <div class="gridwrapper"> 
                <div class="gridtext">
                    <img src="images/location.png">
                    <p><strong> Personalized Recommendations </strong></p>
                    <p>We want to know you like a friend knows you. A friend will give you the best recommendations on where to go</p>

                </div>

                <div class="gridtext">
                    <img src="images/home.png">
                    <p><strong>Lazy Sunday</strong></p>
                    <p>Staying in? For the times when you simply don't want to be outside, plan out a date right in your home! </p>

                </div>

                <div class="gridtext">
                    <img src="images/benchgraphic.png">
                    <p><strong>First Glimpse</strong></p>
                    <p>A collection of stories from people like you on where they went on their first date and what made it memorable</p>
                </div>
            </div>

        
        
        </div>

        <!-- Last section of the page where users will get the chance to sign up for our updates -->
        <div class="signupblock">
            
            <div class="feature-input">
                <p class="bigtext">That next special experience between you two should be right at your fingertips.</p>
                <p><strong>Coming Soon!</strong> Be the first to know about our launch</p>


                <input type="text" class="enterinfo error" name="EMAIL" id="subscribe-email" placeholder="Email Address" spellcheck="false"> 
                <p></p>
                <button type="submit" id="signup-button" class="signup-button">Sign Up</button> 
                <label for="subscribe-email" class="subscribe-message error">
                <i class="fa fa-warning"></i>
                <p></p>
                <span class="message-content"></span>
                </label>
            </div>
            
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <script  src="js/subscribe.js"> </script>

    </body>
</html>
